<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Responsive Registration Form | CodingLab </title>
    <link rel="stylesheet" href="Grant&PermitPagesCss/govtRegisterPage.css">
</head>

<body>
    <div class="container">
        <!-- Title section -->
        <div class="title">Registration</div>
        <div class="content">
            <!-- Registration form -->
            <form action="#">
                <div class="user-details">
                    <!-- Input for Full Name -->
                    <div class="input-box">
                        <span class="details">Govnment Name</span>
                        <input type="text" placeholder="Eg: Madhya Pradesh Government" required>
                    </div>
                    <!-- Input for Username -->
                    <div class="input-box">
                        <span class="details">Username</span>
                        <input type="text" placeholder="Eg: MPGOV1234" required>
                    </div>
                    <!-- Input for Email -->
                    <div class="input-box">
                        <span class="details">Official Email</span>
                        <input type="text" placeholder="Enter Official Email" required>
                    </div>
                    <!-- Input for Phone Number -->
                    <div class="input-box">
                        <span class="details">HelpLine Number</span>
                        <input type="text" placeholder="Enter Helpline" required>
                    </div>
                    <!-- Input for Password -->
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="text" placeholder="Enter your password" required>
                    </div>
                    <!-- Input for Confirm Password -->
                    <div class="input-box">
                        <span class="details">Confirm Password</span>
                        <input type="text" placeholder="Confirm your password" required>
                    </div>
                </div>
                
                <!-- Submit button -->
                <div class="button">
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>
</body>

</html>