<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="assets/css/styles.css">

      <title>Landscape responsive card - Bedimcode</title>
   </head>
   <body>
      <div class="container">
         <div class="card__container">
            <article class="card__article">
               <img src="assets/img/landscape-1.png" alt="image" class="card__img">

               <div class="card__data">
                  <span class="card__description">Backbone of India</span>
                  <h2 class="card__title">Farmer</h2>
                  <a href="FarmerRegister" class="card__button">Register</a>
               </div>
            </article>

            <article class="card__article">
               <img src="assets/img/landscape-2.png" alt="image" class="card__img">

               <div class="card__data">
                  <span class="card__description">Government Authorized Purchasers</span>
                  <h2 class="card__title">Purchaser</h2>
                  <a href="PurchaserRegister" class="card__button">Register</a>
               </div>
            </article>

            <article class="card__article">
               <img src="assets/img/landscape-3.png" alt="image" class="card__img">

               <div class="card__data">
                  <span class="card__description">India Government Authority</span>
                  <h2 class="card__title">Government</h2>
                  <a href="GovernmentRegister" class="card__button">Register</a>
               </div>
            </article>
         </div>
      </div>
   </body>
</html>